.container {
    max-width: 100%;
    background: gray;
}
.row {
    max-width: 75%;
    height: 25em;
    border: solid black 1px;
    background: orange;
    margin: 2em auto;
}
.column {
    background: brown;
    width: 30%;
}
img {
    margin: 1em auto;
    max-width: 90%;
}